<footer class="app-footer">
  <div class="footer-left">
    <div class="label">Redes Sociais</div>

    <div class="social-icons">
      <a href="https://facebook.com/fordbrasil" title="Facebook">
        <img src="/facebook-50.png" alt="facebook"/>
      </a>
      <a href="https://youtube.com/fordbrasil" title="YouTube">
        <img src="/youtube-squared-50.png" alt="youtube"/>
      </a>
      <a href="https://instagram.com/fordbrasil" title="Instagram">
        <img src="/instagram-logo-50.png" alt="instagram"/>
      </a>
    </div>
  </div>

  <!-- bloco central separado para garantir centralização correta -->
  <div class="footer-center">
    <div class="footer-nome">Desenvolvido por Alexandre Silva Santos</div>
  </div>

  <div class="footer-right">
    <img src="/ford.png" alt="Ford logo" />
  </div>
</footer>
