main{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.fordform {
    display: block;
    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
}

select.fordform {
    width: 310px;
    height: 36px;
    color: #807d7d;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

main div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.forms {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}

h2 {
    text-align: left;
    font-weight: 800;
}


button {
    width: 200px;
    height: 40px;
    margin-right: 8px;
    float: right;
}

.titulo {
    margin-left: 8px;
}

.textosLGPD{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
    text-align: justify;
}

.desabilitado, .desabilitado:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    cursor: auto;
}