<nav class="navbar bg-body-tertiary fixed-top custom-navbar">
  <div class="container-fluid d-flex align-items-center">

    <!-- Botão menu lateral -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Botão Logout alinhado à direita -->
    <div class="ms-auto d-flex align-items-center">
      <button *ngIf="isLogged()" class="btn btn-outline-danger btn-sm" (click)="logout()">Logout</button>
    </div>

    <!-- MENU LATERAL -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
      <div class="offcanvas-header">
        <img src="/ford.png" alt="Ford Logo" style="height: 40px;" />
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="isLogged()"><a class="nav-link menu-green" routerLink="/home">Home</a></li>
          <li class="nav-item" *ngIf="isLogged()"><a class="nav-link menu-green" routerLink="/dashboard">Dashboards</a></li>
          <li class="nav-item" *ngIf="isLogged()"><a class="nav-link menu-green" routerLink="/lancamento">Lançamento</a></li>
          <li class="nav-item"><a class="nav-link menu-green" routerLink="/contato">Contato</a></li>
        </ul>
      </div>
    </div>

  </div>
</nav>
